
.special_main{
    box-sizing: border-box;
    display: inline-block;

}


.main_container{
    position: relative;
    left: 10em;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    width: 95%;
    max-width: 700px; 
    border: 3px solid red;

    background-color: rgba(0, 0, 0, 0.24);
    
}

.vid{
    border: 3px solid violet;

}

.vid-1{
    border: 3px solid yellow;
}


.aside-container{
    position: relative;
    left: 10em;
    margin: 0;
    border: 3px solid green;
    box-sizing: border-box;
    display: inline-block;
    

}

.aside_container1,.aside_container2,.aside_container3,.aside_container4,.aside_container5{
    padding: 6em 1%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.aside_container1{
    background-image: url(/images/images_beach.jpg);
}

.aside_container2{
    background-image: url(/images/meet-with-chief.png);
}
.aside_container3{
    background-image: url(/images/1117full-rammstein_-ausländer-photo.jpg);
}
.aside_container4{
    background-image: url(/images/priest.jpg);
}
.aside_container5{
    background-image: url(/images/hunt.jpg);
}
.btn{
    background-image: url(/icons/android-chrome-youtube192x192.png);
    padding: 5em;
    position: relative;
    left: 15rem;
}


.play_video{
    background-image: url(/images/Auslander.jpg);
    background-size:cover; 
    background-repeat: no-repeat;
    border: 3px solid pink;
    padding: 5em;
    margin: 0;
    box-sizing: border-box;
    display: block;
    
    
}

            /* <a class="play_video" href="https://www.youtube.com/watch?v=pat2c33sbog" alt="PLAY THE VIDEO">
            <div class="btn"></div>
            </a> */



.img{
    image-resolution: initial;
}

/* #region footer  */
.footer-container{
    background-image: url(/images/big-Background\ photo.jpg);
    box-sizing: content-box;
    display: block;
    margin: 0;
    padding: 18em 8em;
    /* background-position: center; */
    background-size:contain;
    /* background-size:cover;  */
    background-repeat: no-repeat;
}
/* #endregion footer  */