/***********************************
 * Global styling and typography
 ***********************************/

body{
    color: aliceblue;
    background-image: url(/images/rammstein-scene.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-color: black;
            text-shadow:
        4px 0 4px #000000,
        0 4px 4px #000000,
        -4px     0 4px #000000,
        0 -4px 4px #000000;
            /* variables for common colors */
    --h-color: #000000b0;
    --a-color: #ffffff;
    --b-color:red;
}


 /***********************************
 * header
 ***********************************/

 .navigation .btn{
    box-sizing: border-box;
    display: block;
    font-size: small;
}
 /***********************************
 * main 
 ***********************************/
img{
    box-sizing: border-box;
    display: inline-block;
    width: 160rem;
    height: 90rem;
}

figure,figcaption,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: block; 
}



section{
    background-color: rgba(197, 114, 13, 0.61);
}

table,.navigation{
    background-color: rgba(128, 128, 128, 0.637);
}

.main_container{
    background-color: #0000005d;
}

 /***********************************
 * typography
 ***********************************/

body{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    
}
a{
    font-size: 1.4em;
    
}