/***********************************
 * main
 ***********************************/





/* #region please play a video */
.btn_vid{
    border: 5px solid rgb(255, 0, 255);
    background-image: url(/icons/android-chrome-youtube192x192.png);

}


.play_video{
    background-image: url(/images/mann_gegen_mann.png);
    border: 3px solid pink;
}
/* #endregion */

/********************************************************
TYPOGRAPHY *********************************************
******************************** ********************/

