body{
    color: white;
    background-color: rgba(0, 0, 0, 0.89);
                text-shadow:
        4px 0 4px #000000,
        0 4px 4px #000000,
        -4px     0 4px #000000,
        0 -4px 4px #000000;
}


/***********************************
 * main
 ***********************************/

.main_container, .navigation{
    background-color:rgba(158, 12, 114, 0.377);
}



/* #region please play a video */
.btn_vid{
    border: 5px solid rgb(255, 0, 255);
    background-image: url(/icons/android-chrome-youtube192x192.png);
    position: relative;
    left:15rem;
}


.play_video{
    background-image: url(/images/mann_gegen_mann.png);
    border: 3px solid pink;
}
/* #endregion */

/********************************************************
TYPOGRAPHY *********************************************
******************************** ********************/

