/* #region please play a video */
.main_container{
    background-color: antiquewhite;
}
nav{
    background-color: aliceblue;
}
.btn_vid{
    border: 5px solid rgb(255, 0, 255);
    background-image: url(/icons/android-chrome-youtube192x192.png);
    position: relative;
    left: 15rem;
}

.play_video{
    background-image: url(/images/mein_land.png);
    border: 3px solid pink;

}
/* #endregion */

body {
    font-size: 2rem;
    font-family: arial, helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 195, 255, 0.466);

    /* variables for common colors */
    --h-color: #ffffff62;
    --a-color: rgb(138, 138, 49);
    --b-color: rgb(0, 255, 128);
}