
/***********************************
 * Global styling and typography
 ***********************************/





body {
    font-size: 2rem;
    font-family: arial, helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #2c1f1f;

    /* variables for common colors */
    --h-color: #000000b0;
    --a-color: #e73737;
    --b-color: gold;
}




h1,h2 {
    
    color: var(--a-color);
}



/***********************************
 * header
 ***********************************/




/***********************************
 * main
 ***********************************/




/* #region please play a video */
.btn_vid{
    background-image: url(/icons/android-chrome-youtube192x192.png);
    background-repeat: no-repeat;

}


.play_video{
    background-image: url(/images/Rammstein-radio.jpg);
    background-size:cover; 
    background-repeat: no-repeat;
    /* border: 3px solid pink; */

    
    
}
/* #endregion */



.main_container{
    background-color: #ffffff;
}





.video iframe{
    width: 100rem;
    height: 30rem;
    max-width: 100%;
    margin-bottom: 1em;
}



/***********************************
 * links
 ***********************************/







/***********************************
 * footer
 ***********************************/


/********************************************************
TYPOGRAPHY *********************************************
******************************** ********************/

p {
    margin:0;
    line-height: 1.5; /* important for readability */
}
span{
    white-space: pre;
    border: none;
}