.pleft{
    float: left;
}
.pright{
    float: right;
}

.play_video{
    border: 3px pink solid;
    background-image: url(/images/sonne.png);
}
.btn_vid{
    background-image: url(/icons/android-chrome-youtube192x192.png);
    position: relative;
    left: 16rem;
}
body{
    background-color: bisque;
    font-size: 2rem;
    font-family: arial, helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /* variables for common colors */
    --h-color: #3959e95d;
    --a-color: #2dcaf1;
    --b-color: rgba(47, 0, 255, 0.801);
}
.main_container{
    background-color: aliceblue;
}
nav{
    background-color: snow;
    display: block;
}

.background1{
    background-image: url(/images/sonne3.png);
}
.background2{
    background-image: url(/images/sonne2.png);
}
.background3{
    background-image: url(/images/sonne7.png);
}
.background4{
    background-image: url(/images/sonne5.png);
}
.lyric1{
    background-image: url(/images/sonne2.png);
    border: 3px rgb(253, 10, 50) solid;
}
.background1,.background2,figcaption,.background3,.background4{
    padding: 4em;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
        text-shadow:
        4px 0 4px #000000,
        0 4px 4px #000000,
        -4px     0 4px #000000,
        0 -4px 4px #000000;
    
}

.figure1i,img, .figure2+img,.figure1,.figure2,figcaption{
    padding: 0;
    margin: 0;
}

figcaption{
    box-sizing: border-box;
    display: inline-block;
}
.sonne-live>.play_video{
    background-image: url(/images/sonne-live.png);
}
/* 
*************************typography********************** */
.pleft{
    font-size: 1.275rem;
}
.pright{
    font-size: 1.275rem;
}

